---
layout: default
title: Home
permalink: /
---

<div class="container pt-3 pt-md-5 pb-5 mb-5 bg-muted">
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="text-right">
                <h1 class="mt-md-5 pt-3 text-primary">WELCOME</h1>
                <h2>TO THE COMMUNITY</h2>
            </div>
        </div>
        <div class="col-md-5">
            <p class="mt-4">JL2579 AND CUBEHAMSTERS OFFICIAL SERVER.</p>
            <p class="text-muted">CubeKrowd Network is a fun, enlighted and cozy community server for everyone and
                everybody to join in! There is no fee for joining, nor are we a pay-to-win server. CubeKrowd is a
                community server featuring many gamemodes such as Survival, Creative, Skyblock, FishSlap, MissileWars
                and more!</p>
        </div>
        <div class="col-md-3 col-12 pt-3">
            <a target="_blank"
                href="http://www.planetminecraft.com/server/cubekrowd-network-jl2579-amp-cubehamster-fan-server/">
                <button class="btn btn-primary btn-lg my-md-5 py-md-4 w-100 font-weight-bold" type="button">
                    Read More
                </button>
            </a>
        </div>
    </div>
</div>

<div class="container px-5 my-5">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid img-frame" src="https://i.imgur.com/QFMOuXH.jpg" alt="">
        </div>
        <div class="col-md-8">
            <h3 class="text-primary mt-3">The Official Missile Wars Server</h3>
            <h4>A MAP BY SETHBLING AND CUBEHAMSTER</h4>
            <p>Missile Wars is a vanilla Minecraft mini-game where you launch missiles to destroy your opponent's
                portal, while defending your own! Checkout the <a
                    href="https://www.youtube.com/watch?v=P9tqf-FZ8sM">official video</a> for more information.</p>
        </div>
    </div>
</div>

<div class="container px-5 my-5 bg-muted">
    <div class="row">
        <div class="col-md-4">
            <h4 class="my-5">LATEST NEWS</h4>
            {% for post in site.posts limit:3 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-primary text-white p-3 mb-3 font-weight-bold w-100">
                        <center>
                            {{ post.date | date: "%d %b" }}
                            <span class="align-middle text-dark">{{ post.date | date: "%Y" }}</span>
                        </center>
                    </div>
                </div>
                <div class="col-md-12">
                    <a href="{{ site.baseurl }}{{ post.url }}" class="text-dark">
                        <h5>{{ post.title }}</h5>
                    </a>
                    <p>{{ post.short }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h4 class="mt-5 mb-3">WHO WE ARE</h4>
            <h5 class="mt-4 mb-3">OUR LITTLE HISTORY</h5>
            <img class="img-fluid mb-3" src="https://i.imgur.com/ScTXMvx.jpg">
            <p>CubeKrowd is in reality a <strong>merge</strong> between JL2579's-fanserver and CubeHamster's-fanserver.
                After it was decided a new era of an awesome community began to rise. And with over 100.000 players we
                hereby present you, <i>"The community of CubeKrowd"</i>.</p>
        </div>
        <div class="col-md-4 pb-3 col-12">
            <h4 class="mt-5 mb-3">WHAT WE HAVE</h4>
            <ul class="nav nav-pills nav-filled flex-column font-weight-bold">
                <a href="javaScript:void(0);">
                    <li class="nav-item">
                        <div class="link nav-link">
                            <i class="fa fa-angle-right mr-3"></i> Creative
                        </div>
                    </li>
                </a>
                <a href="javaScript:void(0);">
                    <li class="nav-item">
                        <div class="link nav-link">
                            <i class="fa fa-angle-right mr-3"></i> Survival
                        </div>
                    </li>
                </a>
                <a href="javaScript:void(0);">
                    <li class="nav-item">
                        <div class="link nav-link">
                            <i class="fa fa-angle-right mr-3"></i> Skyblock
                        </div>
                    </li>
                </a>
                <a href="javaScript:void(0);">
                    <li class="nav-item">
                        <div class="link nav-link">
                            <i class="fa fa-angle-right mr-3"></i> Fishslap
                        </div>
                    </li>
                </a>
                <a href="javaScript:void(0);">
                    <li class="nav-item">
                        <div class="link nav-link">
                            <i class="fa fa-angle-right mr-3"></i> Missile Wars
                        </div>
                    </li>
                </a>
                <a href="javaScript:void(0);">
                    <li class="nav-item">
                        <div class="link nav-link">
                            <i class="fa fa-angle-right mr-3"></i> Rocket Riders
                        </div>
                    </li>
                </a>
                <a href="javaScript:void(0);">
                    <li class="nav-item">
                        <div class="link nav-link">
                            <i class="fa fa-angle-right mr-3"></i> Ice Runner
                        </div>
                    </li>
                </a>
                <a href="javaScript:void(0);">
                    <li class="nav-item">
                        <div class="link nav-link">
                            <i class="fa fa-angle-right mr-3"></i> Build Comp
                        </div>
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>

<div class="container p-3 mt-5">
    <div class="row bg-dark text-white p-5">
        <div class="col-md-8 col-12">
            <h4>Want to help? Donate Now! <i class="em em-pray mr-3"></i></h4>
            <p class="mb-0"><i>"We do not require pay-to-join and we do not have pay-to-win either. We survive only from
                    the gracious donations from our happy players, so feel free to donate at any time!"</i></p>
        </div>
        <div class="col-md-4 col-12 pt-4 mt-2">
            <a href="https://store.cubekrowd.net/" target="_blank">
                <button class="btn btn-lg btn-primary w-100"><i class="em em-wave mr-3"></i> Help us out!</button>
            </a>
        </div>
    </div>
</div>