---
layout: default
title: Links
permalink: /links/
---

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{"/" | prepend: site.baseurl }}">Home</a></li>
        <li class="breadcrumb-item active">Links</li>
    </ol>
</nav>

<h1>Links</h1>

{% assign aaaform = site.data.links | where:"type","form" %}
{% if aaaform.size != 0 %}
<h2 class="pt-3 text-purple">Forms</h2>
<div class="row">
    {% for link in site.data.links %}
    {% if link.type == 'form' %}
    <div class="col-lg-3 col-md-4 col-6 pt-3">
        <a href="/link/{{ link.name }}" class="text-dark">
            <div class="card">
                <div class="staff-bg staff-bg-developer"></div>
                <img class="img-fluid staff-head" src="/assets/img/icons/google_forms.svg" width="128">
                <div class="card-block text-xs-center">
                    <h4 class="text-center py-3 px-2">{{ link.title }}</h4>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

{% assign aaadocs = site.data.links | where:"type","document" %}
{% if aaadocs.size != 0 %}
<h2 class="pt-4 text-primary">Documents</h2>
<div class="row">
    {% for link in site.data.links %}
    {% if link.type == 'document' %}
    <div class="col-lg-3 col-md-4 col-6 pt-3">
        <a href="/link/{{ link.name }}" class="text-dark">
            <div class="card">
                <div class="staff-bg staff-bg-moderator"></div>
                <img class="img-fluid staff-head" src="/assets/img/icons/google_docs.svg" width="128">
                <div class="card-block text-xs-center">
                    <h4 class="text-center py-3 px-2">{{ link.title }}</h4>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

{% assign aaalinks = site.data.links | where:"type","link" %}
{% if aaalinks.size != 0 %}
<h2 class="pt-4 text-primary">Links</h2>
<div class="row">
    {% for link in site.data.links %}
    {% if link.type == 'link' and link.hidden != true %}
    <div class="col-lg-3 col-md-4 col-6 pt-3">
        <a href="/link/{{ link.name }}" class="text-dark">
            <div class="card">
                <div class="staff-bg staff-bg-moderator"></div>
                <img class="img-fluid staff-head" src="/assets/img/icons/google_link.svg" width="128">
                <div class="card-block text-xs-center">
                    <h4 class="text-center py-3 px-2">{{ link.title }}</h4>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

{% assign aaalinks = site.data.links | where:"type","spreadsheet" %}
{% if aaalinks.size != 0 %}
<h2 class="pt-4 text-success">Spreadsheets</h2>
<div class="row">
    {% for link in site.data.links %}
    {% if link.type == 'spreadsheet' %}
    <div class="col-lg-3 col-md-4 col-6 pt-3">
        <a href="/link/{{ link.name }}" class="text-dark">
            <div class="card">
                <div class="staff-bg staff-bg-helper"></div>
                <img class="img-fluid staff-head" src="/assets/img/icons/google_sheets.svg" width="128">
                <div class="card-block text-xs-center">
                    <h4 class="text-center py-3 px-2">{{ link.title }}</h4>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}