---
layout: default
title: Resources
permalink: /resources/
---
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{"/" | prepend: site.baseurl }}">Home</a></li>
        <li class="breadcrumb-item active">Resources</li>
    </ol>
</nav>

<h1>Resources</h1>
<h2 class="pt-4 text-primary">Logos</h2>
<div class="row">
    <div class="col-md-4 pt-3">
        <div class="card">
            <div class="bg-dark staff-bg-moderator p-3">
                <center>
                    <img class="img-fluid" width="50%"
                        src="https://cubekrowd.net/assets/img/resources/cubekrowd_logo.png">
                </center>
            </div>
            <div class="card-block text-xs-center p-3">
                <h4 class="text-center">CK Logo</h4>
                <a target="_blank" href="https://cubekrowd.net/assets/img/resources/cubekrowd_logo.png">Full quality
                    (752x766)</a>
            </div>
        </div>
    </div>
    <div class="col-md-7 pt-3">
        <div class="card">
            <div class="bg-dark staff-bg-moderator p-3">
                <img class="img-fluid" src="https://cubekrowd.net/assets/img/resources/cubekrowd_logo_full.png">
            </div>
            <div class="card-block text-xs-center p-3">
                <h4 class="text-center">CK Logo + Text</h4>
                <a target="_blank" href="https://cubekrowd.net/assets/img/resources/cubekrowd_logo_full.png">Full
                    quality (3287x874)</a>
            </div>
        </div>
    </div>
</div>