---
layout: default
title: Rules
permalink: /rules/
---
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{"/" | prepend: site.baseurl }}">Home</a></li>
        <li class="breadcrumb-item active">Rules</li>
    </ol>
</nav>

<h1>Rules</h1>

<p>
    These rules apply to all services operated by CubeKrowd, including the
    Minecraft and Discord servers. A full version of each rule can be accessed
    by clicking on its title.
</p>


<h2 class="py-3 text-danger">Global</h2>
<div id="rulesglobal">
    {% for rule in site.data.rules.global %}
    {% assign loopindex = forloop.index %}
    <div class="card mb-2">
        <div class="card-header">
            <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#rulesglobal" href="#collapseG{{ loopindex }}">
                    {{ loopindex }}. {{ rule.title }}
                </a>
            </h6>
        </div>
        <div id="collapseG{{ loopindex }}" class="collapse">
            <div class="card-block p-3">
                {{ rule.text }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h2 class="pt-5 pb-3 text-warning">Creative</h2>
<div id="rulesglobal">
    {% for rule in site.data.rules.creative %}
    {% assign loopindex = forloop.index %}
    <div class="card mb-2">
        <div class="card-header">
            <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#rulesglobal" href="#collapseC{{ loopindex }}">
                    {{ loopindex }}. {{ rule.title }}
                </a>
            </h6>
        </div>
        <div id="collapseC{{ loopindex }}" class="collapse">
            <div class="card-block p-3">
                {{ rule.text }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h2 class="pt-5 pb-3 text-success">Skyblock</h2>
<div id="rulesglobal">
    {% for rule in site.data.rules.skyblock %}
    {% assign loopindex = forloop.index %}
    <div class="card mb-2">
        <div class="card-header">
            <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#rulesglobal" href="#collapseB{{ loopindex }}">
                    {{ loopindex }}. {{ rule.title }}
                </a>
            </h6>
        </div>
        <div id="collapseB{{ loopindex }}" class="collapse">
            <div class="card-block p-3">
                {{ rule.text }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h2 class="pt-5 pb-3 text-primary">Survival</h2>
<div id="rulesglobal">
    {% for rule in site.data.rules.survival %}
    {% assign loopindex = forloop.index %}
    <div class="card mb-2">
        <div class="card-header">
            <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#rulesglobal" href="#collapseS{{ loopindex }}">
                    {{ loopindex }}. {{ rule.title }}
                </a>
            </h6>
        </div>
        <div id="collapseS{{ loopindex }}" class="collapse">
            <div class="card-block p-3">
                {{ rule.text }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<h2>See also</h2>
<ul>
    <li><a href="https://cubekrowd.net/link/donts">When should I get staff involved?</a></li>
    <li><a href="https://cubekrowd.net/link/teamgrief">What is team griefing?</a></li>
</ul>