---
layout: default
title: Staff
permalink: /staff/
---

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{"/" | prepend: site.baseurl }}">Home</a></li>
        <li class="breadcrumb-item active">Staff</li>
    </ol>
</nav>

<h1>Staff</h1>
<div class="row">
    {% for staff in site.data.staff.owners %}
    <div class="col-lg-3 col-md-4 col-6 pt-3">
        {% if staff.full %}
        <h2 class="pb-3 text-danger">Owner</h2>
        {% else %}
        <h2 class="pb-3 text-danger">Co-Founder</h2>
        {% endif %}
        <div class="card">
            <div class="staff-bg staff-bg-admin"></div>
            <img class="img-fluid staff-head" src="https://crafatar.com/renders/head/{{ staff.uuid }}?overlay">
            <div class="card-block text-xs-center">
                <h4 class="text-center py-3">{{ staff.name }}</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h2 class="pt-4 text-danger">Admins</h2>
<div class="row">
    {% for staff in site.data.staff.admins %}
    <div class="col-lg-3 col-md-4 col-6 pt-3">
        <div class="card">
            <div class="staff-bg staff-bg-admin"></div>
            <img class="img-fluid staff-head" src="https://crafatar.com/renders/head/{{ staff.uuid }}?overlay">
            <div class="card-block text-xs-center">
                <h4 class="text-center py-3">{{ staff.name }}</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h2 class="pt-4 text-purple">Developers</h2>
<div class="row">
    {% for staff in site.data.staff.developers %}
    <div class="col-lg-3 col-md-4 col-6 pt-3">
        <div class="card">
            <div class="staff-bg staff-bg-developer"></div>
            <img class="img-fluid staff-head" src="https://crafatar.com/renders/head/{{ staff.uuid }}?overlay">
            <div class="card-block text-xs-center">
                <h4 class="text-center py-3">{{ staff.name }}</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h2 class="pt-4 text-primary">Moderators</h2>
<div class="row">
    {% for staff in site.data.staff.moderators %}
    <div class="col-lg-3 col-md-4 col-6 pt-3">
        <div class="card">
            <div class="staff-bg staff-bg-moderator"></div>
            <img class="img-fluid staff-head" src="https://crafatar.com/renders/head/{{ staff.uuid }}?overlay">
            <div class="card-block text-xs-center">
                <h4 class="text-center py-3">{{ staff.name }}</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h2 class="pt-4 text-success">Helpers</h2>
<div class="row">
    {% for staff in site.data.staff.helpers %}
    <div class="col-lg-3 col-md-4 col-6 pt-3">
        <div class="card">
            <div class="staff-bg staff-bg-helper"></div>
            <img class="img-fluid staff-head" src="https://crafatar.com/renders/head/{{ staff.uuid }}?overlay">
            <div class="card-block text-xs-center">
                <h4 class="text-center py-3">{{ staff.name }}</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>