<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ "/assets/js/popper.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
{% assign nowTime = 'now' | date: "%s" %}
<script src="{{ "/assets/js/custom.js?t=" | prepend: site.baseurl | append: nowTime }}"></script>