---
layout: blog
title: Blog
---

<h1>News</h1>

{% for post in paginator.posts %}
    <a href="{{ site.baseurl }}{{ post.url }}"><h2 class="text-info">{{ post.title }}</h2></a>
    <span class="text-muted">Published on {{ post.date | date_to_string }} by {{ post.author}}</span>

    {{ post.excerpt }}<p class="pb-3"></p>
{% endfor %}

<nav>
    <ul class="pagination">
        {% if paginator.previous_page %}
        <li class="page-item">
            <a class="page-link" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">
                <span>&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% if paginator.page == 1 %}
            <li class="page-item active"><a class="page-link" href="{{ site.baseurl }}/blog/">1</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ site.baseurl }}/blog/">1</a></li>
        {% endif %}
        {% for count in (2..paginator.total_pages) %}
            {% if count == paginator.page %}
                <li class="page-item active"><a class="page-link" href="{{ site.baseurl }}/blog/{{ count }}/">{{ count }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ site.baseurl }}/blog/{{ count }}/">{{ count }}</a></li>
            {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
        <li class="page-item">
            <a class="page-link" href="{{ site.baseurl }}{{ paginator.next_page_path }}">
                <span>&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
