---
layout: blog
---

<a href="{{ site.baseurl }}/blog/">
    <h6 class="pt-3 text-success"><i class="fa fa-arrow-left"></i> Back to latest</h6>
</a>
<h1 class="pt-3">{{ page.title }}</h1>
<img class="img-fluid img-frame mb-3"
    src="{{ site.baseurl }}/assets/img/blog/{{ page.date | date: "%Y-%m-%d" }}-{{ page.slug }}.png" />
<p class="text-muted">Published on {{ page.date | date_to_string }} by {{ page.author}}</p>
{{ content }}
<a href="{{ site.baseurl }}/blog/">
    <h6 class="pt-3 text-success"><i class="fa fa-arrow-left"></i> Back to latest</h6>
</a>