<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include nav.html %}
	<div id="body-br">
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-10 offset-xl-1 px-0">
					<div id="main-content" class="container-fluid p-4">
						{{ content }}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
	{% include js.html %}
</body>

</html>